      body{font-family: sans-serif; color: #495057; margin: 0;}
      h1{margin: 1%;}
      .imagem-arredondada{border-radius: 50%;}
      .minha-foto{float: left; height: 400px;}
      li{font-style: italic; font-weight: 500; line-height: 22px}
      p{font-style: italic; font-weight: 500;}
      .apresentacao{height: 400px; background-color: rgb(226, 226, 226); padding: 3%;max-width: 100%;}
      .sobre{display: inline-block; margin-top: 12%;margin-left: 3%; width: 40%; }
      .habilidades{margin: 3%;}
      .contato{margin: 3%;}
      /* div{border: 2px solid red;} */