      body{font-family: sans-serif; color: #495057; margin: 0;}
      .imagem-arredondada{border-radius: 50%;}
      li{font-style: italic; font-weight: 500; line-height: 22px}
      p{font-style: italic; font-weight: 500;}
      .apresentacao{height: 400px; background-color: rgb(226, 226, 226); padding: 3%;}
      .minha-foto{float: left; height: 400px;}
      .sobre{position: fixed; left: 50%; top: 22%;}
      .habilidades{margin: 3%;}
      .contato{margin: 3%;}